/* load the Orbitron font */
@font-face {
    font-family: Orbitron;
    src: url(fonts/orbitron-medium-webfont.woff);
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Orbitron !important;
}
body {
    overflow: hidden;
    background-color: #fff;
}
td, tr {
    padding: 0px;
}
h1 {
    font-size: 5em !important;
    color: #6c757c !important;
}
h2 {
    color: #6c757c !important;
}
h6 {
    color: #6c757c !important;
}
iframe {
    width: 100%;
    height: 100%;
}

/* ========== Coding interface ========== */
/* the whole interface is in the table */
table.blockly-table {
    height: 95%;
    width: 100%;
}
/* Tooltip */
.tooltip.show {
    opacity: 1 !important;
}
/* Robot ID label error */
span.has-error {
    color: #a94442 !important;
    border-color: #a94442 !important;
    background-color: #f2dede !important;
}
/* Robot ID input error */
input.has-error {
    border-color: #a94442 !important;
}
/* Cookie dismiss button */
a.cc-dismiss {
    font-size: 0.8em;
    font-family: Orbitron;
    letter-spacing: .25em;
    text-transform: uppercase;
}
/* Cookie dismiss button hover */
.cc-dismiss:hover {
    text-decoration: none;
    color: #ffd500 !important;
    border-color: #ffd500 !important;
}
/* start code button */
a.btn-start {
    border-width: 3px !important;
    border-color: #18a952 !important;
    background-color: #1cc761 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/* stop code button */
a.btn-stop {
    border-width: 3px !important;
    border-color: #c0312f !important;
    background-color: #d63634 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn:hover, .btn.hover {
    border-width: 3px;
    border-color: #fc3 !important;
}
/* google blockly modifications */
.goog-menuitem-content {
    font-size: 2em !important;
}
/* start and stop button group */
div.btn-group-control {
    width: 100%;
    z-index: 35;
    bottom: 0px;
    position: fixed !important;
}
/* the battery div */
div#battery {
    top: 1px;
    right: 1px;
    z-index: 35;
    cursor: pointer;
    position: absolute;
}
/* the live stream div */
div#stream {
    width: 100%;
    height: 100%;
    display: none;
}
/* Blockly toolbox */
div.blocklyToolboxDiv {
    z-index: 1;
}
/* Blockly workspace */
div#blocklyArea {
    width: 100%;
    height: 100%;
}
/* ace editor */
div#blocklyCode {
    width: 100%;
    height: 100%;
    display: none;
    font-size: 1.3em;
}
/* Python console */
div#pythonConsole {
    height: 100%;
    display: none;
    padding: 1% 1.5%;
}
/* read only ace editor */
div#readOnlyBlocklyCode {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
}
/* ace line highlight */
.highlight {
    z-index: 20;
    position: absolute;
    background: rgba(255, 212, 73, 0.5);
}

/* ========== Control panel ========== */
/* the control panel */
div#panel {
    z-index: 37;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.97);
}
/* control panel footer */
div.footer {
    width: 100%;
    bottom: 1px;
    position: absolute;
}
/* Robot connect button */
a[class*="btn-robot"], a[class*="btn-robot"]:hover {
    color: #6c757c;
    padding: 2vw;
}

/* ========== Calibration panel ========== */
/* the line calibration panel */
div#cal-panel {
    left: 50%;
    z-index: 37;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
/* the inner div of the line calibraton panel */
div#inner-cal-panel {
    left: -50%;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.97);
}
/* calibration fields */
input[id*="-cal"] {
    width: 70px;
    text-align: center;
}
input#field-name-cal {
    width: 250px;
}

/* ========== Notification panel ========== */
/* the line notification panel */
div#notification-panel {
    left: 50%;
    z-index: 38;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
/* the inner div of the notification panel*/
div#inner-notification-panel {
    left: -50%;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.97);
}

/* ========== Info message panel ========== */
/* the line calibration panel */
div#info-panel {
    top: 35%;
    left: 50%;
    width: 100%;
    z-index: 36;
    display: none;
    position: absolute;
}
/* the inner div of the line calibraton panel*/
div#inner-info-panel {
    left: -50%;
    text-align: center;
    position: relative;
}

/* for desktop screen */
@media screen and (min-width: 1000px) {
    /* logo object */
    img.logo {
        width: 20%;
        padding: 1vw;
        padding-bottom: 4vw;
    }
    /* robot connect button container */
    div.btn-group-robot {
        width: 100%;
    }
    button {
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* robot connect button */
    a.btn-robot-go {
        font-size: 3vw !important;
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* firmware update button */
    a.btn-robot-update {
        font-size: 3vw !important;
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* left table cell */
    td#leftCell {
        width: 50%;
        height: 100%;
    }
    /* right table cell */
    td#rightCell {
        width: 50%;
        height: 100%;
    }
}

/* for mobile and tablet screen */
@media screen and (max-width: 1000px) {
    /* logo object */
    img.logo {
        width: 25%;
        padding: 1vw;
    }
    /* robot connect button container */
    div.btn-group-robot {
        width: 100%;
    }
    button {
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* robot connect button */
    a.btn-robot-go {
        font-size: 10vw !important;
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* firmware update button */
    a.btn-robot-update {
        display: none;
        font-size: 3vw !important;
        border: 3px solid rgba(0, 0, 0, 0.1) !important;
    }
    /* left table cell */
    td#leftCell {
        width: 100%;
        height: 100%;
    }
    /* right table cell */
    td#rightCell {
        display: none;
    }
}
